.header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/photos/Home-image.avif");
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  gap: 4rem;
  grid-template-areas: "head" "title" "title" "form" "form" "form";
}
.header__top {
  grid-area: head;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo" "burger";
  justify-items: end;
  align-items: center;
}
.header__top #__desktop {
  display: none;
}
.header__top__logo {
  display: grid;
  grid-area: logo;
}
.header__top__mobile {
  display: grid;
  grid-area: burger;
}
.header__title {
  display: grid;
  grid-area: title;
  color: white;
  gap: 1rem;
}
.header__title h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 400;
}
.header__title p {
  font-family: "Rubik", sans-serif;
  font-size: 1.12rem;
  font-weight: 400;
}
.header__form {
  grid-area: form;
  display: grid;
  background: #ffffff;
  border-radius: 1rem;
  font-family: "Rubik", sans-serif;
  font-size: 0.87rem;
  gap: 1rem;
  grid-template-areas: "dest" "pers" "in" "out" "book";
}
.header__form .__label {
  display: flex;
  grid-area: dest;
  flex-flow: column wrap;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.header__form .__label input {
  font-family: "Playfair Display", serif;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
}
.header__form .__person {
  display: flex;
  grid-area: pers;
  flex-flow: column wrap;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.header__form .__person input {
  font-family: "Playfair Display", serif;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
}
.header__form .__chkin {
  display: flex;
  grid-area: in;
  flex-flow: column wrap;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.header__form .__chkin input {
  font-family: "Playfair Display", serif;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
}
.header__form .__chkout {
  display: flex;
  grid-area: out;
  flex-flow: column wrap;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 4rem;
}
.header__form .__chkout input {
  font-family: "Playfair Display", serif;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
}
.header__form .__book {
  background-color: #ff7757;
  grid-area: book;
  border-radius: 0px 0px 16px 16px;
  display: grid;
  align-items: center;
  font-size: 2.25rem;
  font-family: "Playfair Display", serif;
  color: white;
  font-weight: 400;
  justify-items: stretch;
  grid-auto-flow: column;
  padding-top: 2.5rem;
  padding-left: 1rem;
  padding-bottom: 2.5rem;
  padding-right: 1rem;
}
.header__form .__book label {
  justify-self: start;
}
.header__form .__book input {
  position: absolute;
  visibility: hidden;
}
.header__form .__book img {
  width: 1.3rem;
  justify-self: end;
}

/*# sourceMappingURL=style.css.map */
