html {
  height: 100%;
}

.section-home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem 6.25rem;
  gap: 6.25rem;
  height: 75.62rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/photos/Home-image.avif");
  flex: none;
  order: 0;
  flex-grow: 0;
}
.section-home__header {
  align-items: center;
  padding: 1.5rem 1rem;
  gap: 2rem;
  height: 6.12rem;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.section-home__header__nav__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  gap: 0.25rem;
}
.section-home__header__burger {
  width: 3.12rem;
  height: 3.12rem;
}
.section-home__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 1rem;
  height: 13.56rem;
}
.section-home__title h1 {
  height: 9.93rem;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3.31rem;
  color: #ffffff;
}
.section-home__title p {
  height: 2.62rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.31rem;
  color: #ffffff;
}
.section-home__main {
  padding: 0;
  height: 37.18rem;
  background: #ffffff;
  border-radius: 1rem;
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  justify-content: space-between;
}
.section-home__main__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section-home__main__form__inputs {
  padding-left: 1.25rem;
  font-family: "Rubik", sans-serif;
  font-size: 0.87rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 21.18rem;
}
.section-home__main__form__inputs .line {
  border-top: 0.06rem solid black;
  height: 0.12rem;
  padding: 0;
}
.section-home__main__form__inputs input {
  display: flex;
  font-family: "Playfair Display", serif;
  border: 0;
  font-weight: bold;
  padding-top: 0.75rem;
}
.section-home__main__form__book {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2.5rem 1.25rem;
  margin-top: 5.62rem;
  height: 9.15rem;
  background: #ff7757;
  border-radius: 0 0 1rem 1rem;
}
.section-home__main__form__book input {
  opacity: 0;
}
.section-home__main__form__book label {
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  color: #ffffff;
}

.section-destination {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.section-destination__header {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.section-destination__title {
  color: #172432;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.333rem;
  border-bottom: 0.1rem solid #ff7757;
}
.section-destination__sub {
  color: #767e86;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  padding-bottom: 3rem;
}
.section-destination__photos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
  gap: 4px;
  width: 288px;
  height: 314px;
  border-radius: 26px;
  border: none;
  gap: 1.5rem;
  flex-direction: row;
}
.section-destination__arrows {
  margin-top: 9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.section-offer {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.section-offer__header {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.section-offer__title {
  color: #172432;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.333rem;
  border-bottom: 0.1rem solid #ff7757;
}
.section-offer__sub {
  color: #767e86;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  padding-bottom: 3rem;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
}

.blog {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.blog__header {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.blog__title {
  color: #172432;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.333rem;
  border-bottom: underline;
}
.blog__subtitle {
  color: #767e86;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  padding-bottom: 3rem;
}
.blog-article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}
.blog-article__title {
  color: #172432;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.333rem;
  border-bottom: 0.1rem solid #ff7757;
}
.blog-article__text {
  color: #172432;
  font-family: "Playfair Display", serif;
  font-size: #767e86;
  line-height: 2.625rem;
}
.blog-article__photo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
  gap: 4px;
  width: 288px;
  height: 314px;
  border-radius: 26px;
  border: none;
}
.blog-nav {
  display: flex;
  gap: 2rem;
}
.blog-nav__text {
  color: #ff7757;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
}
.blog-nav__arrow {
  color: #ff7757;
}

.section-planners {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.section-planners .planners-header {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.section-planners .planners-header__title {
  color: #172432;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.333rem;
  border-bottom: 0.1rem solid #ff7757;
}
.section-planners .planners-header__subtitle {
  color: #767e86;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  padding-bottom: 3rem;
}
.section-planners .planners-header__button {
  background-color: #ff7757;
  border-radius: 0.75rem;
  padding: 1.25rem;
  font-family: "Rubik", sans-serif;
  color: white;
}
.section-planners .planners-header__text {
  font-family: "Rubik", sans-serif;
  color: white;
}
.section-planners .rome {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.section-planners .rome__photo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
  gap: 4px;
  width: 288px;
  height: 314px;
  border-radius: 26px;
  border: none;
}
.section-planners .rome__price {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}
.section-planners .rome-punt {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  align-items: cent;
}
.section-planners .rome-punt__star {
  display: flex;
}
.section-planners .paris {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.section-planners .paris__photo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
  gap: 4px;
  width: 288px;
  height: 314px;
  border-radius: 26px;
  border: none;
}
.section-planners .paris__price {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}
.section-planners .paris-punt {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  align-items: cent;
}
.section-planners .paris-punt__star {
  display: flex;
}
.section-planners .barcelona {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.section-planners .barcelona__photo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
  gap: 4px;
  width: 288px;
  height: 314px;
  border-radius: 26px;
  border: none;
}
.section-planners .barcelona__price {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}
.section-planners .barcelona-punt {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  align-items: cent;
}
.section-planners .barcelona-punt__star {
  display: flex;
}
.section-planners .barcelona {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.section-planners .barcelona__photo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
  gap: 4px;
  width: 288px;
  height: 314px;
  border-radius: 26px;
  border: none;
}
.section-planners .barcelona__price {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}
.section-planners .barcelona-punt {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  align-items: cent;
}
.section-planners .barcelona-punt__star {
  display: flex;
}
.section-planners .budapest {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.section-planners .budapest__photo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
  gap: 4px;
  width: 288px;
  height: 314px;
  border-radius: 26px;
  border: none;
}
.section-planners .budapest__price {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}
.section-planners .budapest-punt {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  align-items: cent;
}
.section-planners .budapest-punt__star {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
