// Color variables

$primary-color: #ff7757; //Buttons, underlines and links.
$black: #172432; //Footer, back buttons, h1 and p.
$subtitle-color: #767e86; //Subtitles, offers and newsletter.
$newsletter-background: #ffe8d4; //Light orange for the input background color of the newsletter.
$experiences-background: #f5f6f7; //Light gray for the review's background box.
$offer-background: #fff8f1; //Light orange for the offers boxs background.

// Font variables

$primary-font: "Playfair Display", serif;
$secondary-font: "Rubik", sans-serif;

// .section-blog{
//   &__header{

//   }
//   &__main{

//   }
// }
